adrf
colorlog
django<6
django-cors-headers
django-redis
djangorestframework
djangorestframework-simplejwt
drf-spectacular
drf-spectacular-sidecar
httpx
pillow
python-decouple
pytz
whitenoise
drf-spectacular-extras
uvicorn
uvicorn-worker
ipython
django-storages[boto3]
django-extensions
gunicorn
psycopg[binary,pool]
uuid-extension
celery
clickhouse-connect
django-filter
drf-nested-routers
msgpack
puremagic